* {
  background-color: #bcbcbd;
  font-family: 'Courier New', Courier, monospace;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid blue;
  .Login {
    border: 4px solid pink;
  }
  .SignUp {
    margin-top: 5px;
    border: 1px solid purple;
  }
}

.MainDisplay {
  color: red;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MainContainer {
  border: 1px solid black;
}

.ReactionTimeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding-left: 50px;
  padding-right: 50px;
}

.VerbalMemory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding-left: 50px;
  padding-right: 50px;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      display: flex;
      justify-content: flex-start;
      margin-left: -80px;
    }
    input {
      max-width: 10rem;
      margin-bottom: 5px;
    }
  }
}

.SignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    label {
      display: flex;
      justify-content: flex-start;
    }
    input {
      max-width: 10rem;
      margin-bottom: 5px;
    }
  }
}

.red {
  color: white;
  background-color: #e41b17;
}
